
<h2>Index</h2>
<button type="button" class="btn btn-info" onclick="MostrarForm()">Agregar</button>
<table class="table table-dark" id="tablaOperadores">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Edad</th>
            <th scope="col">Salario</th>
            <th scope="col">Fecha de Nacimiento</th>
            <th scope="col">Direccion</th>
            <th scope="col">Razon social</th>
            <th></th>
        </tr>
    </thead>

</table>



@section scripts{

    <script>

        var table_operador;

        $(document).ready(function () {

       table_operador = $('#tablaOperadores').DataTable({
        "ajax": {
            "url": "@Url.Action("ObtenerOperadores", "Ajax")",
            "type": "GET",
            "datatype": "json"
        },
        "columns": [
            { "data": "Id" },
            { "data": "Nombre" },
            { "data": "Edad" },
            { "data": "Salario" },
            { "data": "Fecha_Nacimiento" },
            { "data": "Empresa.Direccion" },
            { "data": "Empresa.Razon_Social" },
            {
              "data": "Id", "render": function (data) {
                    return "<button class='btn btn-primary btn-sm' type='button' onclick='Abrirmodal("+ data+ ")'>Editar</button>"+
                           "<button class='btn btn-danger btn-sm' type='button' onclick='Eliminar("+ data +")'>Eliminar</button>"

                },
                "orderable": false,
                "searchable": false
            }
        ],
    });


    });

        function Modal(data) {



            console.log("Que esta llenado al modal " + data.Id, data.Edad);
            Swal.fire({
                title: "Agregar Operador",
                text: "You won't be able to revert this!",
                html: `
            <form id="FormModal">
             <input type="hidden" class="form-control" id="Id" value="${data.Id}" placeholder="Id"/>
                <label>Nombre</label>
                  <input type="text" class="form-control" id="Nombre" value="${data.Nombre}" placeholder="Nombre"/>
                <label>Edad</label>
                   <input type="text" class="form-control" id="Edad" value="${data.Edad}" placeholder ="Edad"/>
                <label>Salario</label>
                   <input type="text" class="form-control" id="Id" value="${data.Salario}" placeholder="Salario"/>
                <label>Fecha de nacimiento</label>
                   <input type="text" class="form-control" id="Fecha_Nacimiento" value="${data.Fecha_Nacimiento}" placeholder="Fecha_Nacimiento"/>
                <label>Razon social</label>
                   <input type="text" class="form-control" name="IdEmpresa" id="IdEmpresa" value="${data.IdEmpresa}" placeholder="IdEmpresa">
                </form>

            `,
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Aceptar", preConfirm: function () {
                    return new Promise((resolve, reject) => {
                        // get your inputs using their placeholder or maybe add IDs to them
                        resolve({
                            Id: $('input[placeholder="Id"]').val(),
                            Nombre: $('input[placeholder="Nombre"]').val(),
                            Edad: $('input[placeholder="Edad"]').val(),
                            Salario: $('input[placeholder="Salario"]').val(),
                            Fecha_Nacimiento: $('input[placeholder="Fecha_Nacimiento"]').val(),
                            IdEmpresa: $('input[placeholder="IdEmpresa"]').val()
                        });

                        // maybe also reject() on some condition
                    });
                }}).then((data) => {
                // your input data object will be usable from here
                console.log(data.value);
                    
                        


                    let $data = {
                        Id:$("#Id").val(),
                        Nombre: $("#Nombre").val(),
                        Edad: $("#Edad").val(),
                        Salario: $("#Salario").val(),
                        Fecha_Nacimiento: $("#Fecha_Nacimiento").val(),
                        IdEmpresa: $("#IdEmpresa").val()
                }

                console.log($data);

                if (data.isConfirmed) {
                    jQuery.ajax({
                        url: "@Url.Action("Actualizar", "Ajax")" + "?Id=" + Id,
                        type: "POST",
                        data: data.value,
                       ContentType: "application/json; charset-8",
                    success: function (data) {
                        if (data.resultado) {
                            table_operador.ajax.reload();
                            Swal.fire({
                                title: "Agregado!",
                                text: "El operado fue agregado",
                                icon: "Success"
                            });
                        }
                    }

                  });

                }
            });
        }

        function ModalDos() {

            Swal.fire({
                title: "Agregar Operador",
                text: "You won't be able to revert this!",
                html: `
            <form id="FormModal">

                <label>Nombre</label>
                  <input type="text" class="form-control" id="Nombre" placeholder="Nombre"/>
                <label>Edad</label>
                   <input type="text" class="form-control" id="Edad" placeholder="Edad" />
                <label>Salario</label>
                   <input type="text" class="form-control" id="Salario" placeholder="Salario" />
                <label>Fecha de nacimiento</label>
                   <input type="text" class="form-control" id="Fecha_Nacimiento" placeholder="Fecha_Nacimiento"/>
                <label>Razon social</label>

                    <select name="lenguajes" class="form-control" id="lang" placeholder="IdEmpresa">
                  <option value="1">1</option>
                  <option value="2">2</option>
                      </select>
                </form>

            `,
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Aceptar", preConfirm: function () {
                    return new Promise((resolve, reject) => {
                        // get your inputs using their placeholder or maybe add IDs to them
                        resolve({
                            Nombre: $('input[placeholder="Nombre"]').val(),
                            Edad: $('input[placeholder="Edad"]').val(),
                            Salario: $('input[placeholder="Salario"]').val(),
                            Fecha_Nacimiento: $('input[placeholder="Fecha_Nacimiento"]').val(),
                            IdEmpresa: $('select[placeholder="IdEmpresa"]').val()
                        });

                        // maybe also reject() on some condition
                    });
                }
            }).then((data) => {
                // your input data object will be usable from here
                console.log(data.value);

                let $data = {
                        Nombre: $("#Nombre").val(),
                        Edad: $("Edad").val(),
                        Salario: $("#Salario").val(),
                        Fecha_Nacimiento: $("#Fecha_Nacimiento").val(),
                        IdEmpresa: $("#IdEmpresa").val()
                }

                console.log($data);

                if (data.isConfirmed) {
                    jQuery.ajax({
                       url: "@Url.Action("Guardar", "Ajax")",
                        type: "POST",
                        data: data.value,
                       ContentType: "application/json; charset-8",
                    success: function (data) {
                        if (data.resultado) {
                            table_operador.ajax.reload();
                            Swal.fire({
                                title: "Agregado!",
                                text: "El operado fue agrgado",
                                icon: "Success"
                            });
                        }
                    }

                  });

                }
            });




            function Guardar(isConfirmed) {
                console.log(isConfirmed);
                let $data = {
                    Opera: {
                        Nombre: $("#Nombre").val(),
                        Edad: $("Edad").val(),
                        Salario: $("#Salario").val(),
                        Fecha_Nacimiento: $("#Fecha_Nacimiento").val(),
                        IdEmpresa: $("#IdEmpresa").val()
                    }
                }
            }



        }
        function Abrirmodal($Id) {
            console.log($Id);

            $("#FormModal").val($Id);
            if ($Id != 0) {
                jQuery.ajax({
                    url: "@Url.Action("ObtenerOperador", "Ajax")" + "?Id=" + $Id,
                    type: "GET",
                    dataType: "json",
                    contentType: "application/json; charset-8",
                    success: function (data) {

                        if (data != null) {

                            Modal(data);
                        }
                    }

                 });
               }else {
            $("#Nombre").val("");
            $("#Edad" ).val("");
            $("#Salario").val("");
            $("#Fecha_Nacimiento").val("");
            $("#IdEmpresa").val("");
                Modal();
            }

        }


    // Función para elminar
    function Eliminar($Id) {
                Swal.fire({
                    title: "Esta seguro de eliminar al Operado?",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Si, Eliminar!"
                }).then((result) => {
                    if (result.isConfirmed) {
                       jQuery.ajax({
                       url: "@Url.Action("Eliminar", "Ajax")" + "?Id=" + $Id,
                       type: "GET",
                       data: "Json",
                       ContentType: "application/json; charset-8",
                    success: function (data) {
                        if (data.resultado) {
                            table_operador.ajax.reload();
                            Swal.fire({
                                title: "Eliminado!",
                                text: "El operado fue eliminado",
                                icon: "Danger"
                            });
                        }
                    }

                  });
             }
       });

    }

    function MostrarForm() {

        ModalDos();


    }




    </script>
}

